<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Music Curator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Spotify Logo">
    </div>
    <h1>AI Music Curator</h1> </header>
  <main>
    <div class="container">
      <h2>Insira seu ID do Spotify</h2>
      <form action="{{ url_for('recommend') }}" method="post">
        <input type="text" name="user_id" placeholder="ID do Spotify" required>
        <button type="submit" class="btn btn-success">Obter Recomendações</button>
      </form>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>&copy; 2024 AI Music Curator</p>
    </div>
  </footer>
</body>
</html>